{block headPage}

{/block}


{block content}
    {if $user->loggedIn}
    <h1>Editace tagu: <a target="_blank" n:href=":Front:Article:tag $editing->id">{$editing->nazev}</a></h1>
    {control tagsForm}

        {control dataTable}
    {/if}
{/block}
