{snippet}

    <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
    {ifset $allArticles}
        {foreach $allArticles as $article}
            <div class="box">
                <h2>{$article->nazev}</h2>
                <p>Publikováno: {$article->valid_od|date:'%d.%m.%Y'}</p>
                <p>Tagy:
                    {foreach $articlesTags[$article->id] as $tag}
                        <a class="ajax" href="{plink filtr! $tag->id}">#{$tag->tagy->nazev}</a>
                    {/foreach}
                </p>
                <p>{$article->anotace}</p>
                <p><a href="{plink :Front:Article:detail $article->id}">Zobrazit cely clanek &gt;</a></p>
            </div>
        {/foreach}
    {/ifset}
{/snippet}