<h2>{$nadpis}</h2>
<table class="data">
    <tbody>
    <tr>
        <th>ID</th>
        <th>Nazev</th>
        <th>Tagy</th>
        <th>Anotace</th>
        <th>Platnost (Veřejný od do)</th>
        <th>Akce</th>
    </tr>

    {ifset $allArticles}
        {foreach $allArticles as $row}
            <tr>
                <td>
                    <a target="_blank" href="{plink :Front:Article:detail, $row->id}">
                        {$row->id}
                    </a>
                </td>
                <td><a target="_blank" href="{plink :Front:Article:detail, $row->id}">{$row->nazev}</a></td>
                <td>

                    {foreach $articlesTags[$row->id] as $tag}
                        #{$tag->tagy->nazev}
                    {/foreach}

                </td>
                <td>{$row->anotace}</td>
                <td>{$row->valid_od|date:'%d.%m.%Y'} do {$row->valid_do|date:'%d.%m.%Y'}</td>
                <td>
                    <a href="{plink :Admin:Article:edit $row->id}">edit</a>
                    <a href="{plink :Admin:Article:delete $row->id}">delete</a>
                </td>
            </tr>
        {/foreach}
    {/ifset}
    </tbody>
</table>