{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>{ifset title}{include title|stripHtml} | {/ifset}Mayeleh</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{$basePath}/css/style.css">
    <link rel="stylesheet" href="{$basePath}/css/admin.css">
    <meta name="Author" content="Salim Mayaleh" />

    {block head}

    {/block}

    {include headPage}
</head>

<body>

<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

{if $user->loggedIn}
    <nav>
        <ul class="menu">
            <li><a n:href="Article:">Články</a></li>
            <li><a n:href="Tags:">Tagy</a></li>
        </ul>

        <div class="sign">
            <a n:href="Sign:out">Odhlásit se</a>
        </div>
    </nav>
{/if}

{include content}



{block scripts}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
    <script src="{$basePath}/js/main.js"></script>
{/block}
</body>
</html>
