{block headPage}

{/block}


{block content}
        <h1>Editace článku: <a target="_blank" n:href=":Front:Article:detail $editing->id">{$editing->nazev}</a></h1>
        {control articlesForm}
    {if $user->loggedIn}
        {control dataTable}
    {/if}
{/block}
