{block headPage}
    <link rel="stylesheet" href="{$basePath}/css/login.css">
{/block}

{block content}
<div class="login">
    <div class="login-triangle"></div>

    <h2 class="login-header">Přihlášení</h2>

    {control signInForm}
</div>

{/block}