<h2>Všechny Tagy:</h2>
<table class="data">
    <tbody>
    <tr>
        <th>ID</th>
        <th>Nazev</th>
        <th>Akce</th>
    </tr>

    {foreach $allTags as $row}
        <tr>
            {*}
            <td>
                <a target="_blank" href="{plink :Front:Article:, $row->id}">
                    {$row->id}
                </a>
            </td>
            <td><a target="_blank" href="{plink :Front:Article:detail, $row->id}">{$row->nazev}</a></td>
            {*}
            <td>{$row->id}</td>
            <td>{$row->nazev}</td>
            <td>
                <a href="{plink :Admin:Tags:edit $row->id}">edit</a>
                <a href="{plink :Admin:Tags:delete $row->id}">delete</a>
            </td>
        </tr>
    {/foreach}
    </tbody>
</table>