{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Mayaleh</title>
	<meta name="description" content="{include descr|stripHtml}" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="Author" content="Salim Mayaleh" />
	<link rel="stylesheet" href="{$basePath}/css/style.css">

	{include headPage}
</head>

<body>
{snippet flash}
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
{/snippet}

	<div class="zarovnat">
		{include content}
	</div>


	{block scripts}
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
		<script src="{$basePath}/js/nette.ajax.js"></script>
	<script src="{$basePath}/js/main.js"></script>
	{/block}
</body>
</html>
