$rootCol: #3a81a1;
$col2: #ded9ff;
$hoverBg: #094664;

nav {
  position: relative;
  display: block;
  width: 100%;
  background-color: $rootCol;
  .menu {
    list-style: none;
    li {
      display: inline-block;
      a {
        color: white;
        background-color: transparent;
        padding: 5px 10px;
        display: block;
        text-decoration: none;
        font-size: 18px;
        &:hover {
          background-color: $hoverBg;
        }
      }
    }
  }
  .sign {
    position: absolute;
    right: 0;
    top: 0;
    a {
      color: white;
      background-color: transparent;
      padding: 5px 10px;
      display: block;
      text-decoration: none;
      font-size: 18px;
      &:hover {
        background-color: $hoverBg;
      }
    }
  }
}