nav {
    position: relative;
    display: block;
    width: 100%;
    background-color: #3a81a1;
}

nav .menu {
    list-style: none;
}

nav .menu li {
    display: inline-block;
}

nav .menu li a {
    color: white;
    background-color: transparent;
    padding: 5px 10px;
    display: block;
    text-decoration: none;
    font-size: 18px;
}

nav .menu li a:hover {
    background-color: #094664;
}

nav .sign {
    position: absolute;
    right: 0;
    top: 0;
}

nav .sign a {
    color: white;
    background-color: transparent;
    padding: 5px 10px;
    display: block;
    text-decoration: none;
    font-size: 18px;
}

nav .sign a:hover {
    background-color: #094664;
}

/*# sourceMappingURL=admin.css.map */
