$rootCol: #3a81a1;
$col2: #ded9ff;
$hoverBg: #094664;

$colorBG: #383b3d;
$colorFG: #1e1e1e;
$colorString: #ce9178;
$colorHead: #569cd6;
$colorLink: #9cdcfe;
$colorInfo: #608b4e;
$colorError: #d16969;
//$color: #d4d4d4ff;
$colorLi: #4EC9B0;
$colorW: #d4d4d4;
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,700');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $colorBG;
  font-family: 'Source Code Pro', monospace;
  line-height: 1.4em;
}

h1 {
  margin: 25px 0;
  color: $colorHead;
}

h2 {
  margin: 15px 0;
  color: $colorHead;
}

h3 {
  color: $colorHead;
}

p {
  margin-top: 15px;
  color: $colorString;
}

a {
  color: $colorLink;
  &:hover {
    text-decoration: none;
    border-bottom: 2px solid $colorBG;
    border-top: 2px solid $colorBG;
  }
}

ul {
  li {
    color: $colorLi;
  }
}

th {
  color: $colorLi;
}

label {
  color: $colorLi;
  font-weight: bold;
}

td {
  color: $colorString;
}

.center {
  text-align: center;
}

.zarovnat {
  display: block;
  position: relative;
  width: 90%;
  max-width: 1200px;
  margin: 25px auto;
  ul {
    list-style-position: inside;
    ul {
      display: inline-block;
      margin-top: 15px;
      margin-left: 10px;
      li {
        display: inline-block;
        margin-right: 8px;
      }
    }
  }
}

.flash {
  text-align: center;
  font-weight: bold;
  padding: 10px 0;
  font-size: 18px;
  text-transform: uppercase;
}

.info {
  color: $colorInfo;
}

.error {
  color: $colorError;
}

table {
  background-color: $colorFG;
  border-collapse: collapse;
  tr {
    td, th {
      border: 1px solid $colorW;
    }
  }
  &.data {
    width: 100%;
    text-align: center;
    th {
      font-size: 1.4em;
    }
    td, th {
      padding: 10px;
    }
  }
}

form {
  width: 100%;
  display: block;
  background-color: $colorFG;
  padding: 15px;
  box-sizing: border-box;
  margin: 25px 0;
  table {
    border: none;
    tr, th, td {
      border: none;
    }
    td, th {
      padding: 5px 0;
    }
    th {
      padding-right: 10px;
    }
  }
  input, textarea {
    padding: 5px;
    width: 220px;
    border: 1px solid $rootCol;
    box-sizing: content-box;
  }
  input[type=submit] {
    cursor: pointer;
    background-color: $rootCol;
    color: white;
    font-size: 16px;
    font-weight: bold;
    &:hover {
      background-color: $hoverBg;
    }
  }
  input[type=checkbox] {
    width: auto;
    margin-right: 10px;
    display: inline-block;
  }
}

.box {
  padding: 15px;
  margin: 25px 0;
  background-color: $colorFG;
  -webkit-box-shadow: 0px 0px 14px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px -2px rgba(0, 0, 0, 0.75);
}