@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,700");

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #383b3d;
    font-family: 'Source Code Pro', monospace;
    line-height: 1.4em;
}

h1 {
    margin: 25px 0;
    color: #569cd6;
}

h2 {
    margin: 15px 0;
    color: #569cd6;
}

h3 {
    color: #569cd6;
}

p {
    margin-top: 15px;
    color: #ce9178;
}

a {
    color: #9cdcfe;
}

a:hover {
    text-decoration: none;
    border-bottom: 2px solid #383b3d;
    border-top: 2px solid #383b3d;
}

ul li {
    color: #4EC9B0;
}

th {
    color: #4EC9B0;
}

label {
    color: #4EC9B0;
    font-weight: bold;
}

td {
    color: #ce9178;
}

.center {
    text-align: center;
}

.zarovnat {
    display: block;
    position: relative;
    width: 90%;
    max-width: 1200px;
    margin: 25px auto;
}

.zarovnat ul {
    list-style-position: inside;
}

.zarovnat ul ul {
    display: inline-block;
    margin-top: 15px;
    margin-left: 10px;
}

.zarovnat ul ul li {
    display: inline-block;
    margin-right: 8px;
}

.flash {
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
    font-size: 18px;
    text-transform: uppercase;
}

.info {
    color: #608b4e;
}

.error {
    color: #d16969;
}

table {
    background-color: #1e1e1e;
    border-collapse: collapse;
}

table tr td, table tr th {
    border: 1px solid #d4d4d4;
}

table.data {
    width: 100%;
    text-align: center;
}

table.data th {
    font-size: 1.4em;
}

table.data td, table.data th {
    padding: 10px;
}

form {
    width: 100%;
    display: block;
    background-color: #1e1e1e;
    padding: 15px;
    box-sizing: border-box;
    margin: 25px 0;
}

form table {
    border: none;
}

form table tr, form table th, form table td {
    border: none;
}

form table td, form table th {
    padding: 5px 0;
}

form table th {
    padding-right: 10px;
}

form input, form textarea {
    padding: 5px;
    width: 220px;
    border: 1px solid #3a81a1;
    box-sizing: content-box;
}

form input[type=submit] {
    cursor: pointer;
    background-color: #3a81a1;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

form input[type=submit]:hover {
    background-color: #094664;
}

form input[type=checkbox] {
    width: auto;
    margin-right: 10px;
    display: inline-block;
}

.box {
    padding: 15px;
    margin: 25px 0;
    background-color: #1e1e1e;
    -webkit-box-shadow: 0px 0px 14px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 14px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 14px -2px rgba(0, 0, 0, 0.75);
}

/*# sourceMappingURL=style.css.map */
