{define title}Blog{/define}
{define descr}Blog v nette. Naprogramoval Salim Mayaleh.{/define}

{block headPage}

{/block}


{block content}
    <h1>Blog</h1>
    <div class="box">
        <h3>Filtrovat podle:</h3>
        <ul>
            <li>
                Tagů:
                <ul>
                    {foreach $tags as $tag}
                        <li><a class="ajax" n:href="filtr! $tag->id">#{$tag->nazev}</a></li>
                    {/foreach}
                    <li><a href="{link Article:default}">Všechny články</a></li>
                </ul>
            </li>
            <li>
                Období
                <ul>
                    {ifset $validFrom}
                        {foreach $validFrom as $val}
                            <li><a class="ajax" n:href="date! $val->date">{$val->date|date:'n. Y'}</a></li>
                        {/foreach}
                    {/ifset}
                </ul>
            </li>
        </ul>
        <div class="center">
            {control searchForm}
        </div>
    </div>
    {snippet articlesControl}
        {control articlesContent}
    {/snippet}
{/block}
