{define title}{$article->nazev}{/define}
{define descr}Blog Salim Mayaleh. {$article->popis}{/define}
{block headPage}

{/block}


{block content}
    <div class="box">

        <h1>{$article->nazev}</h1>

        <p>{$article->valid_od|date:'%d.%m.%Y'}</p>

        <p>Tagy:
            {foreach $tags as $tag}
                {*<a n:href="Article:tag $tag->id">#{$tag->tagy->nazev} </a>*}
                #{$tag->tagy->nazev}
            {/foreach}
        </p>
        <p>{$article->anotace}</p>

        <p>{$article->obsah}</p>

        <p><a n:href="Article:">&lt; Zpět na výpis článků</a></p>

    </div>
{/block}
